<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="/css/site-product-add.css" rel="stylesheet">
    <link rel="stylesheet" href="/fontawesome-free-6.1.1-web/css/all.min.css">
    <title>HYDRA BAKERY - SEE DETAIL</title>
  </head>
  <body>
    <main>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/shome}"><i class="fa-solid fa-house"></i> Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/site/products/search}"><i class="fa-solid fa-bread-slice"></i> All Product<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/site/carts}"><i class="fa-solid fa-cart-arrow-down"></i> Your Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/site/orders}"><i class="fa-solid fa-truck-fast"></i></i> Your Order</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-user"></i> Manage Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{'/site/update/update/'+ ${session.customerId}}"><i class="fa-solid fa-pen-to-square"></i> Edit Information</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/hydrabakery}"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
              </div>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa-brands fa-searchengin"></i> Search</button>
          </form> -->
        </div>
      </nav>
        <div class="container mt-3">
            <div class="left">
              <div class="login">
                <div>See Detail</div>
                <img src="/images/Watercolor Cup Cake Bakery Logo.png" width="200px">
              </div>
            </div>
            <div class="right">
              <svg viewBox="0 0 320 300">
                <defs>
                  <linearGradient
                                  inkscape:collect="always"
                                  id="linearGradient"
                                  x1="13"
                                  y1="193.49992"
                                  x2="307"
                                  y2="193.49992"
                                  gradientUnits="userSpaceOnUse">
                    <stop
                          style="stop-color:#ff00ff;"
                          offset="0"
                          id="stop876" />
                    <stop
                          style="stop-color:#ff0000;"
                          offset="1"
                          id="stop878" />
                  </linearGradient>
                </defs>
                <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
              </svg>
              <form action="/admin/products/saveOrUpdate" method="post" enctype="multipart/form-data" th:object="${product}">
                <div class="row">
                  <div class="col-7">
                    <div class="form">
                      <div class="form-group" th:if="${product.isEdit}">
                        <label for="productId">Product ID:</label>
                        <input type="hidden" th:field="*{isEdit}"/>
                        <input type="text"  name="productId" id="productId" th:field="*{productId}" aria-describedby="productIdHid" placeholder="">
                        <small th:if="${#fields.hasErrors('productId')}" id="productIdHid" class="form-text text-muted">Please do not enter product id.</small>
                      </div>
                      
                      <div class="form-group">
                        <label for="name">Product Name:</label>
                        <input type="text" name="name" id="name" th:field="*{name}" aria-describedby="nameHid" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text" name="quantity" id="quantity" th:field="*{quantity}" aria-describedby="quantityHid" placeholder="">
                      </div>
                      <div class="input-group form-group">
                        <span class="input-group-text">Unit Price</span>
                        <input type="number" name="unitPrice" id="unitPrice" th:field="*{unitPrice}" class="form-control" placeholder="">
                        <span class="input-group-text">&#36;</span>
                      </div>
                      
                      <div class="form-group">
                        <label for="categoryId">Category</label>
                        <select class="form-control" name="categoryId" id="categoryId" th:field="*{categoryId}">
                          <option th:each="item : ${categories}" th:value="${item.categoryId}" th:text="${item.name}" th:selected = "${item.categoryId == product.categoryId}"></option>

                        </select>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-4 mt-5">
                    <img id="image" th:src="${product.image!=null?'/images/'+ product.image : '/images/empty-300x240.jpg'}" width="90%" class="img-fluid" alt="">
                    <div class="form-group">
                      
                    </div>
                    <div class="input-group form-group">
                      <span class="input-group-text">Discount</span>
                      <input type="number" name="discount" id="discount" th:field="*{discount}" class="form-control" placeholder="">
                      <span class="input-group-text">&#37;</span>
                    </div>
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-control" name="status" id="status" th:field="*{status}">
                        <option value="0">Out of stock</option>
                        <option value="1">On sale</option>
                        <option value="2">Featured</option>
                        <option value="3">Best seller</option>
                        <option value="4">Out of order</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row ml-3 mr-3">
                  <div class="col">
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="form-control" name="description" id="description" th:field="*{description}" rows="3"></textarea>
                    </div>
                    <a th:href="@{'/site/carts/add/' + ${product.productId}}" class="btn btn-light"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a>
                    <a th:href="@{'/site/orders/buyNow/'+ ${session.customerId}+ '/' + ${product.productId}}" class="btn btn-dark"><i class="fa-solid fa-credit-card"></i> Buy Now</a>
                      
                  </div>
                </div>
                
              </form>
            </div>
          </div>
    </main>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    
  </body>
</html>